
version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: zaproute_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: zaproute
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
